In [127]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus']=False

from sklearn.preprocessing import StandardScaler  # 표준화 패키지 라이브러리 
import statsmodels.api as sm

------
## 시군구별

In [3]:
df_5=pd.read_csv('시 별 정보.csv',encoding='cp949')
df_6=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_1-1. 생활계(인구).csv',encoding='cp949')
df_7=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_1-2. 생활계(물사용량).csv',encoding='cp949')
df_8=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_2. 축산계.csv',encoding='cp949')
df_9=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_3. 산업계.csv',encoding='cp949')
df_10=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_4. 토지계(단, 토지면적합계가 0 인 곳은, 토지 미측량 행정구역)1.csv',encoding='cp949')
df_11=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_5. 양식계.csv',encoding='cp949')
df_12=pd.read_csv('붙임1_2019년기준_전국오염원_조사자료_전체(환경기초시설외)_7. 기타수질오염원.csv',encoding='cp949')

In [26]:
df_5.columns

Index(['SIG_CD', 'SIG_KOR_NM', '인구수', '가정용물사용량(m3/day)', '영업용물사용량(m3/day)',
       '축산농가수', '가축분뇨발생량(m3/day)', '공장용지(m2)', '주유소용지(m2)', '창고용지(m2)',
       '하천(m2)', '도로(m2)', '양식사료사용량(kg/month)', '양식업소수', '양식시설면적(m2)',
       '기타수질오염원수', '폐수배출사업장수', '폐수발생량(m3/day)', '공공하수처리시설수', '개인하수처리시설관리업장수',
       '산단누계생산(백만원)', '산단누계수출(천달러)', '산단가동업체', '산단지정면적(m2)', '사고발생수',
       '사고유형_유류유출', '사고유형_물고기폐사', '사고유형_축산폐수유출', '사고유형_소방수유출', '사고유형_화학물질유출',
       '사고유형_기타', '사고원인_화재발생', '사고원인_원인불명', '사고원인_관리부주의', '사고원인_교통사고',
       '사고원인_침수', '사고원인_수환경변화', '사고원인_기타', '유류유출_2015년', '유류유출_2016년',
       '유류유출_2017년', '유류유출_2018년', '유류유출_2019년', '유류유출_2020년', '물고기폐사_2015년',
       '물고기폐사_2016년', '물고기폐사_2017년', '물고기폐사_2018년', '물고기폐사_2019년',
       '물고기폐사_2020년', '소방수_2015년', '소방수_2016년', '소방수_2017년', '소방수_2018년',
       '소방수_2019년', '소방수_2020년', '화학물질유출_2015년', '화학물질유출_2016년',
       '화학물질유출_2017년', '화학물질유출_2018년', '화학물질유출_2019년', '화학물질유출_2020년',
       '축산폐수유출_2015년', '축산폐수유출_2016년', '축산폐수유출_2017년', '축산폐수유출_2018년',
       '축산폐수유출_2019년', '축산폐수유출_2020년', '폐수유출_2015년', '폐수유출_2016년',
       '폐수유출_2017년', '폐수유출_2018년', '폐수유출_2019년', '폐수유출_2020년', '시설고장_2015년',
       '시설고장_2016년', '시설고장_2017년', '시설고장_2018년', '시설고장_2019년', '시설고장_2020년',
       '기타_2015년', '기타_2016년', '기타_2017년', '기타_2018년', '기타_2019년', '기타_2020년',
       '유형별횟수산출_2015년', '유형별횟수산출_2016년', '유형별횟수산출_2017년', '유형별횟수산출_2018년',
       '유형별횟수산출_2019년', '유형별횟수산출_2020년'],
      dtype='object')

In [34]:
#df_5=df_5.rename({'SIG_KOR_NM':'시군구'},axis=1)
#df_5=df_5[['시군구', '유형별횟수산출_2015년', '유형별횟수산출_2016년', '유형별횟수산출_2017년', '유형별횟수산출_2018년','유형별횟수산출_2019년', '유형별횟수산출_2020년']]


r_= pd.merge(df_6.iloc[:,0:2],df_5,how='outer',on='시군구')
r_

,시도,시군구,유형별횟수산출_2015년,유형별횟수산출_2016년,유형별횟수산출_2017년,유형별횟수산출_2018년,유형별횟수산출_2019년,유형별횟수산출_2020년
0,서울특별시,종로구,0.0,0.0,0.0,0.0,0.0,0.0
1,서울특별시,종로구,0.0,0.0,0.0,0.0,0.0,0.0
2,서울특별시,종로구,0.0,0.0,0.0,0.0,0.0,0.0
3,서울특별시,종로구,0.0,0.0,0.0,0.0,0.0,0.0
4,서울특별시,종로구,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
19694,제주특별자치도,서귀포시,0.0,0.0,0.0,0.0,0.0,0.0
19695,제주특별자치도,서귀포시,0.0,0.0,0.0,0.0,0.0,0.0
19696,제주특별자치도,서귀포시,0.0,0.0,0.0,0.0,0.0,0.0
19697,제주특별자치도,서귀포시,0.0,0.0,0.0,0.0,0.0,0.0
19698,NaN,서울중구,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
df_5[df_5['시군구']=='삼척시']

,시군구,유형별횟수산출_2015년,유형별횟수산출_2016년,유형별횟수산출_2017년,유형별횟수산출_2018년,유형별횟수산출_2019년,유형별횟수산출_2020년
155,삼척시,2.25,0.0,0.0,0.0,0.0,0.0

In [ ]:
r_=r_.groupby(['시도','시군구']).mean()
r_=r_.reset_index()

In [48]:
df_5=r_

In [ ]:
df_6.head(1)

In [4]:
df_6=df_6.drop(columns={'법정구역코드','하수처리_시설코드','분뇨처리_시설코드','지정내역'},axis=1)
#df_8=df_8.rename({'총계_업소수(개)':'산업_총계_업소수(개)'},axis=1)

In [ ]:
df_test=df_6,df_7,df_8,df_9,df_10,df_11,df_12

In [ ]:
df_6.head(0)

In [17]:
df_6[['읍면동']]

       읍면동
0      청운동
1      신교동
2      궁정동
3      효자동
4      창성동
...    ...
19693  표선면
19694  표선면
19695  표선면
19696  표선면
19697  표선면

[19698 rows x 1 columns]

In [20]:
df_6.head(1)

,시도,시군구,읍면동,리,하수처리시설명,분뇨처리시설명,인구 총계(명),시가 인구(명)_하수처리지역(분류식),시가 인구(명)_하수처리지역(합류식),시가 인구(명)_하수미처리지역(오수),시가 인구(명)_하수미처리지역(정화조),시가 인구(명)_하수미처리지역(수거식),비시가 인구(명)_하수처리지역(분류식),비시가 인구(명)_하수처리지역(합류식),비시가 인구(명)_하수미처리지역(오수),비시가 인구(명)_하수미처리지역(정화조),비시가 인구(명)_하수미처리지역(수거식)
0,서울특별시,종로구,청운동,NaN,중랑물재생센터,난지물재생센터(분뇨),2510,0,2510,0,0,0,0,0,0,0,0

In [50]:
df_6_=df_6.drop(columns={'읍면동','리','하수처리시설명','분뇨처리시설명'},axis=1)
df_6_=df_6_.groupby(['시도','시군구']).sum()

df_6_=df_6_.reset_index()

In [52]:
df_7_=df_7.drop(columns={'읍면동','리','하수처리시설명','분뇨처리시설명'},axis=1)
df_7_=df_7_.groupby(['시도','시군구']).sum()

df_7_=df_7_.reset_index()

In [54]:
df_8_=df_8.drop(columns={'읍면동','리'},axis=1)
df_8_=df_8_.groupby(['시도','시군구']).sum()

df_8_=df_8_.reset_index()

In [56]:
df_9_=df_9.drop(columns={'읍면동','리','종말처리시설명'},axis=1)
df_9_=df_9_.groupby(['시도','시군구']).sum()

df_9_=df_9_.reset_index()

In [58]:
df_10_=df_10
df_10_=df_10_.groupby(['시도','시군구']).sum()

df_10_=df_10_.reset_index()

In [60]:
df_11_=df_11.drop(columns={'읍면동','리'},axis=1)
df_11_=df_11_.groupby(['시도','시군구']).sum()

df_11_=df_11_.reset_index()

In [62]:
#df_12.head()
df_12_=df_12.drop(columns={'읍면동','리'},axis=1)
df_12_=df_12_.groupby(['시도','시군구']).sum()

df_12_=df_12_.reset_index()

In [63]:
### 시군구 파일
# df_5,df_6_~df_12_

In [66]:
df_6_1=df_6_.drop(columns={'시군구'},axis=1)
df_6_1=df_6_1.groupby(['시도']).sum()

df_6_1=df_6_1.reset_index()

,인구 총계(명),시가 인구(명)_하수처리지역(분류식),시가 인구(명)_하수처리지역(합류식),시가 인구(명)_하수미처리지역(오수),시가 인구(명)_하수미처리지역(정화조),시가 인구(명)_하수미처리지역(수거식),비시가 인구(명)_하수처리지역(분류식),비시가 인구(명)_하수처리지역(합류식),비시가 인구(명)_하수미처리지역(오수),비시가 인구(명)_하수미처리지역(정화조),비시가 인구(명)_하수미처리지역(수거식)
시도,,,,,,,,,,,
강원도,1560571,579105,353862,10936,27001,1769,293095,107983,67922,111355,7543
경기도,13653984,6164261,3233509,227714,136174,1656,2674970,615780,380231,211937,7752
경상남도,3438676,2146188,197402,21696,22927,1021,710867,91702,78385,162954,5534
경상북도,2723955,1135454,455698,11572,19794,13106,547408,128170,109688,207651,95414
광주광역시,1480293,716051,612467,473,6428,372,70985,68319,394,4490,314

In [69]:
df_7_1=df_7_.drop(columns={'시군구'},axis=1)
df_7_1=df_7_1.groupby(['시도']).sum()

df_7_1=df_7_1.reset_index()

In [70]:
df_8_1=df_8_.drop(columns={'시군구'},axis=1)
df_8_1=df_8_1.groupby(['시도']).sum()

df_8_1=df_8_1.reset_index()

In [71]:
df_9_1=df_9_.drop(columns={'시군구'},axis=1)
df_9_1=df_9_1.groupby(['시도']).sum()

df_9_1=df_9_1.reset_index()

In [72]:
df_10_1=df_10_.drop(columns={'시군구'},axis=1)
df_10_1=df_10_1.groupby(['시도']).sum()

df_10_1=df_10_1.reset_index()

In [73]:
df_11_1=df_11_.drop(columns={'시군구'},axis=1)
df_11_1=df_11_1.groupby(['시도']).sum()

df_11_1=df_11_1.reset_index()

In [74]:
df_12_1=df_12_.drop(columns={'시군구'},axis=1)
df_12_1=df_12_1.groupby(['시도']).sum()

df_12_1=df_12_1.reset_index()

In [78]:
df_5_=df_5.drop(columns={'시군구'},axis=1)
df_5_=df_5_.groupby(['시도']).sum()

df_5_=df_5_.reset_index()

In [79]:
### 시도 데이터
# df_5_,df_6_1~df_12_1 ,result_2

In [ ]:
### 시군구 파일
# df_5,df_6_~df_12_

In [21]:
output=dict(list(df_6.groupby(['시도','시군구','읍면동','리'])))
output.keys()
output_list=list(output.keys())



output_df=[]

for i in range(len(output_list)):
    output_df_pre=output[output_list[i]]
    output_df_pre=output_df_pre.groupby(['시도','시군구','읍면동','리']).sum() #agg({'영업용 물사용량(세제곱미터_일)_합계':'sum','가정용 물사용량(세제곱미터_일)_합계':'sum'})
    output_df_pre.reset_index()
    
    if i == 0 :
        output_df_pre_1=output_df_pre
    
    elif i == 1 :
        output_df_pre_cat=pd.concat([output_df_pre,output_df_pre_1],join='inner')
    
    else :
        output_df_pre_cat=pd.concat([output_df_pre_cat,output_df_pre],join='inner')


output_df_pre_cat=output_df_pre_cat.sort_values('시도')
output_df_pre_cat=output_df_pre_cat.reset_index()

output_df_pre_cat_6=output_df_pre_cat

,시도,시군구,읍면동,리,인구 총계(명),시가 인구(명)_하수처리지역(분류식),시가 인구(명)_하수처리지역(합류식),시가 인구(명)_하수미처리지역(오수),시가 인구(명)_하수미처리지역(정화조),시가 인구(명)_하수미처리지역(수거식),비시가 인구(명)_하수처리지역(분류식),비시가 인구(명)_하수처리지역(합류식),비시가 인구(명)_하수미처리지역(오수),비시가 인구(명)_하수미처리지역(정화조),비시가 인구(명)_하수미처리지역(수거식)
0,강원도,강릉시,강동면,산성우리,401,0,0,0,0,0,0,0,195,206,0
1,강원도,춘천시,북산면,부귀리,59,0,0,0,0,0,0,0,13,46,0
2,강원도,춘천시,북산면,물로리,108,0,0,0,0,0,0,0,34,71,3
3,강원도,춘천시,북산면,대동리,9,0,0,0,0,0,0,0,0,0,9
4,강원도,춘천시,북산면,대곡리,16,0,0,0,0,0,0,0,10,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15212,충청북도,영동군,양산면,가선리,65,0,0,0,0,0,0,0,16,49,0
15213,충청북도,영동군,양산면,가곡리,381,0,0,0,0,0,275,0,17,89,0
15214,충청북도,영동군,양강면,지촌리,187,0,0,0,0,0,0,0,44,143,0
15215,충청북도,영동군,양산면,죽산리,166,0,0,0,0,0,0,0,44,122,0
15216,충청북도,충주시,중앙탑면,하구암리,363,0,0,0,0,0,249,0,0,114,0

In [23]:
df_7.head()

,시도,시군구,읍면동,리,하수처리시설명,분뇨처리시설명,가정용 물사용량(세제곱미터_일)_합계,가정용 물사용량(세제곱미터_일)_시가_하수처리지역_분류식,가정용 물사용량(세제곱미터_일)_시가_하수처리지역_합류식,가정용 물사용량(세제곱미터_일)_시가_하수미처리지역_오수,...,영업용 물사용량(세제곱미터_일)_시가_하수처리지역_분류식,영업용 물사용량(세제곱미터_일)_시가_하수처리지역_합류식,영업용 물사용량(세제곱미터_일)_시가_하수미처리지역_오수,영업용 물사용량(세제곱미터_일)_시가_하수미처리지역_정화조,영업용 물사용량(세제곱미터_일)_시가_하수미처리지역_수거식,영업용 물사용량(세제곱미터_일)_비시가_하수처리지역_분류식,영업용 물사용량(세제곱미터_일)_비시가_하수처리지역_합류식,영업용 물사용량(세제곱미터_일)_비시가_하수미처리지역_오수,영업용 물사용량(세제곱미터_일)_비시가_하수미처리지역_정화조,영업용 물사용량(세제곱미터_일)_비시가_하수미처리지역_수거식
0,서울특별시,종로구,청운동,NaN,중랑물재생센터,난지물재생센터(분뇨),799.47,0.0,799.47,0.0,...,0.0,540.75,0.0,0.0,0,0.0,0.0,0.0,0.0,0
1,서울특별시,종로구,신교동,NaN,중랑물재생센터,난지물재생센터(분뇨),528.74,0.0,528.74,0.0,...,0.0,103.49,0.0,0.0,0,0.0,0.0,0.0,0.0,0
2,서울특별시,종로구,궁정동,NaN,중랑물재생센터,난지물재생센터(분뇨),69.10,0.0,69.10,0.0,...,0.0,49.51,0.0,0.0,0,0.0,0.0,0.0,0.0,0
3,서울특별시,종로구,효자동,NaN,중랑물재생센터,난지물재생센터(분뇨),176.86,0.0,176.86,0.0,...,0.0,170.62,0.0,0.0,0,0.0,0.0,0.0,0.0,0
4,서울특별시,종로구,창성동,NaN,중랑물재생센터,난지물재생센터(분뇨),140.60,0.0,140.60,0.0,...,0.0,186.73,0.0,0.0,0,0.0,0.0,0.0,0.0,0

In [24]:
df_7_=df_7.drop(columns={'하수처리시설명','분뇨처리시설명'},axis=1)

output=dict(list(df_7_.groupby(['시도','시군구','읍면동','리'])))
output.keys()
output_list=list(output.keys())



output_df=[]

for i in range(len(output_list)):
    output_df_pre=output[output_list[i]]
    output_df_pre=output_df_pre.groupby(['시도','시군구','읍면동','리']).sum() #agg({'영업용 물사용량(세제곱미터_일)_합계':'sum','가정용 물사용량(세제곱미터_일)_합계':'sum'})
    output_df_pre.reset_index()
    
    if i == 0 :
        output_df_pre_1=output_df_pre
    
    elif i == 1 :
        output_df_pre_cat=pd.concat([output_df_pre,output_df_pre_1],join='inner')
    
    else :
        output_df_pre_cat=pd.concat([output_df_pre_cat,output_df_pre],join='inner')


output_df_pre_cat=output_df_pre_cat.sort_values('시도')
output_df_pre_cat=output_df_pre_cat.reset_index()

output_df_pre_cat_7=output_df_pre_cat

In [ ]:
#### 8

In [ ]:
df_8.head(1)

In [ ]:
df_7_=df_7.drop(columns={'하수처리시설명','분뇨처리시설명'},axis=1)

output=dict(list(df_7_.groupby(['시도','시군구','읍면동','리'])))
output.keys()
output_list=list(output.keys())



output_df=[]

for i in range(len(output_list)):
    output_df_pre=output[output_list[i]]
    output_df_pre=output_df_pre.groupby(['시도','시군구','읍면동','리']).sum() #agg({'영업용 물사용량(세제곱미터_일)_합계':'sum','가정용 물사용량(세제곱미터_일)_합계':'sum'})
    output_df_pre.reset_index()
    
    if i == 0 :
        output_df_pre_1=output_df_pre
    
    elif i == 1 :
        output_df_pre_cat=pd.concat([output_df_pre,output_df_pre_1],join='inner')
    
    else :
        output_df_pre_cat=pd.concat([output_df_pre_cat,output_df_pre],join='inner')


output_df_pre_cat=output_df_pre_cat.sort_values('시도')
output_df_pre_cat=output_df_pre_cat.reset_index()

output_df_pre_cat_7=output_df_pre_cat

In [11]:
len(df_6['리'].unique())

7075

In [ ]:
result= pd.merge(df_6,df_7,how='outer',on='읍면동')
result=result.drop(columns={'시도_y', '시군구_y'},axis=1)
result=result.rename({'시도_x':'시도','시군구_x':'시군구'},axis=1)

result.to_csv('1.csv',encoding='cp949')

In [ ]:
result= pd.merge(result,df_8,how='outer',on='읍면동')

result=result.drop(columns={'시도_y', '시군구_y','리_y'},axis=1)
result=result.rename({'시도_x':'시도','시군구_x':'시군구'},axis=1)

result.to_csv('2.csv',encoding='cp949')

In [ ]:
result=pd.read_csv('3.csv',encoding='cp949')
result= pd.merge(result,df_9,how='outer',on='읍면동')

result=result.drop(columns={'시도_y', '시군구_y','리_y'},axis=1)
result=result.rename({'시도_x':'시도','시군구_x':'시군구'},axis=1)

result.to_csv('3.csv',encoding='cp949')

In [ ]:
result= pd.merge(result,df_11,how='outer',on='읍면동')
result= pd.merge(result,df_12,how='outer',on='읍면동')
result.columns

In [ ]:
sido_list=list(df_6['시도'].unique())
len(sido_list)

In [ ]:
def list_chunk(lst,n) :
    return [lst[i:i+n] for i in range(0,len(lst),n)]

In [ ]:
sido_=[]
for i in range(len(df_test)):
    for w in range(len(sido_list)):
        sido_.append(len(df_test[i][df_test[i]['시도']==sido_list[w]]['시군구'].unique()))
        
sido_chunk=list_chunk(sido_,17)
sido_chunk

In [ ]:
for i in range(17):
    print(df_6[df_6['시도']==sido_list[i]]['시군구'].unique()==df_7[df_7['시도']==sido_list[i]]['시군구'].unique())

In [ ]:
df_test_=df_6,df_7,df_8,df_9,df_11,df_12

In [ ]:
sigungu_list=list(df_6['시군구'].unique())
len(sigungu_list)

In [ ]:
def list_chunk(lst,n) :
    return [lst[i:i+n] for i in range(0,len(lst),n)]

In [ ]:
sigungu_=[]
for i in range(len(df_test_)):
    for w in range(len(sigungu_list)):
        sigungu_.append(len(df_test_[i][df_test_[i]['시군구']==sigungu_list[w]]['읍면동'].unique()))
        
sigungu_chunk=list_chunk(sigungu_,250)
sigungu_chunk

In [ ]:
df_7.head(1)

In [5]:
df_7=df_7.drop(columns={'법정구역코드','하수처리_시설코드','분뇨처리_시설코드','지정내역'},axis=1)
#df_8=df_8.rename({'총계_업소수(개)':'산업_총계_업소수(개)'},axis=1)

In [ ]:
df_8.head(1)

In [6]:
df_8=df_8.drop(columns={'법정동코드','법적규제','축종'},axis=1)
#df_8=df_8.rename({'총계_업소수(개)':'산업_총계_업소수(개)'},axis=1)

In [ ]:
df_9.head(1)

In [7]:
df_9=df_9.drop(columns='법정구역코드',axis=1)
df_9=df_9.rename({'총계_업소수(개)':'산업_총계_업소수(개)'},axis=1)

In [ ]:
df_10.head(1)

In [ ]:
df_11.head(1)

In [8]:
df_11=df_11.drop(columns='법정구역코드',axis=1)
df_11=df_11.rename({'총계_업소수(개)':'양식_총계_업소수(개)','총계_시설 면적(제곱미터)':'양식_총계_시설 면적(제곱미터)','총계_사료사용량(킬로그램_월)':'양식_총계_사료사용량(킬로그램_월)'},axis=1)

In [ ]:
df_12.head(1)

In [9]:
df_12=df_12.drop(columns={'법정구역코드'},axis=1)
df_12=df_12.rename({'총계(개소)':'기타_총계(개소)'},axis=1)

------
## 시도별

In [81]:
df_1=pd.read_csv('시도별_지하수시설_현황_20230131175129.csv',encoding='cp949')
df_2=pd.read_csv('지역별_면적_20230131175600.csv',encoding='cp949')
df_3=pd.read_csv('시도별_하천현황_20230131175410.csv',encoding='cp949')
df_4=pd.read_csv('100_단지수_시도.csv',encoding='cp949')

In [ ]:
df_1.tail()

In [82]:
df_1=df_1.dropna()
df_1=df_1.drop(16)
df_1=df_1.rename({'소계':'지하수_소계','생활용':'생활용_지하수','공업용':'공업용_지하수','농업용':'농업용_지하수','기타':'기타_지하수'},axis=1)

In [83]:
df_1=df_1.rename({'구분(1)':'시도'},axis=1)

In [84]:
df_1=df_1.sort_values('시도')
df_1=df_1.reset_index()

In [ ]:
df_1.info()

In [85]:
df_1['지하수_소계']=df_1['지하수_소계'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_1['지하수_소계']=df_1['지하수_소계'].apply(pd.to_numeric)

df_1['생활용_지하수']=df_1['생활용_지하수'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_1['생활용_지하수']=df_1['생활용_지하수'].apply(pd.to_numeric)

df_1['공업용_지하수']=df_1['공업용_지하수'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_1['공업용_지하수']=df_1['공업용_지하수'].apply(pd.to_numeric)

df_1['농업용_지하수']=df_1['농업용_지하수'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_1['농업용_지하수']=df_1['농업용_지하수'].apply(pd.to_numeric)

df_1['기타_지하수']=df_1['기타_지하수'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_1['기타_지하수']=df_1['기타_지하수'].apply(pd.to_numeric)

df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    16 non-null     int64
 1   시도       16 non-null     object
 2   지하수_소계   16 non-null     int64
 3   생활용_지하수  16 non-null     int64
 4   공업용_지하수  16 non-null     int64
 5   농업용_지하수  16 non-null     int64
 6   기타_지하수   16 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.0+ KB

In [86]:
df_1.head()

   index     시도  지하수_소계  생활용_지하수  공업용_지하수  농업용_지하수  기타_지하수
0      9    강원도  119830    76193      861    42721      55
1      8    경기도  266209   157723     2879   104881     726
2     15   경상남도  102632    47476     1612    53437     107
3     14   경상북도  130461    48886     1653    79735     187
4      4  광주광역시   12371     5677      184     6509       1

In [87]:
df_2=df_2.dropna()
df_2=df_2.drop(16)
df_2=df_2.rename({'구성비 (%)':'면적 구성비 (%)'},axis=1)

In [88]:
df_2=df_2.rename({'남한 ':'시도'},axis=1)

In [89]:

df_2=df_2.sort_values('시도')
df_2=df_2.reset_index()

In [90]:
df_2['면적 (㎢)']=df_2['면적 (㎢)'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_2['면적 (㎢)']=df_2['면적 (㎢)'].apply(pd.to_numeric)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       16 non-null     int64
 1   시도          16 non-null     object
 2   면적 (㎢)      16 non-null     int64
 3   면적 구성비 (%)  16 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 640.0+ bytes

In [ ]:
df_3.tail()

In [ ]:
df_3.info()

In [91]:
#df_3=df_3.dropna()
df_3=df_3.drop(16)
df_3=df_3.drop(columns='수계별(2)',axis=1)
df_3=df_3.rename({'수계별(1)':'시도'},axis=1)

In [92]:

df_3=df_3.sort_values('시도')
df_3=df_3.reset_index()

In [93]:
df_3['하천연장 (km)']=df_3['하천연장 (km)'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_3['하천연장 (km)']=df_3['하천연장 (km)'].apply(pd.to_numeric)
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      16 non-null     int64
 1   시도         16 non-null     object
 2   하천수 (개)    16 non-null     int64
 3   하천연장 (km)  16 non-null     int64
dtypes: int64(3), object(1)
memory usage: 640.0+ bytes

In [ ]:
df_4.tail()

In [ ]:
df_4.info()

In [94]:
#df_3=df_3.dropna()
#df_3=df_3.drop(16)
df_4=df_4.drop(columns={'Unnamed: 0','level_0','index'},axis=1)
#df_3=df_3.rename({'수계별(1)':'시도'},axis=1)

In [95]:

df_4=df_4.sort_values('시도')
df_4=df_4.reset_index()

In [ ]:
df_4.head(1)

In [96]:
for i in range(len(df_4)):
    df_4['단지수'][i]=int(df_4['단지수'][i][2:-2])

C:\Users\user\anaconda3\envs\env_3.7\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [97]:
#df_3['하천연장 (km)']=df_3['하천연장 (km)'].str.replace(pat=r'[^\w]',repl=r'',regex=True)
df_4['단지수']=df_4['단지수'].apply(pd.to_numeric)
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   16 non-null     int64
 1   시도      16 non-null     object
 2   단지수     16 non-null     int64
dtypes: int64(2), object(1)
memory usage: 512.0+ bytes

In [98]:
result_2=pd.concat([df_1,df_2],axis=1)
result_2=pd.concat([result_2,df_3],axis=1)
result_2=pd.concat([result_2,df_4],axis=1)

result_2 ## 인덱스 번호를 기준이라고 생각하면, 인덱스 번호가 같다면 널값이 없다

,index,시도,지하수_소계,생활용_지하수,공업용_지하수,농업용_지하수,기타_지하수,index,시도,면적 (㎢),면적 구성비 (%),index,시도,하천수 (개),하천연장 (km),index,시도,단지수
0,9,강원도,119830,76193,861,42721,55,9,강원도,16830,16.8,9,강원도,254,360071,0,강원도,77
1,8,경기도,266209,157723,2879,104881,726,8,경기도,10195,10.2,8,경기도,517,350616,1,경기도,192
2,15,경상남도,102632,47476,1612,53437,107,15,경상남도,10541,10.5,15,경상남도,682,414592,2,경상남도,206
3,14,경상북도,130461,48886,1653,79735,187,14,경상북도,19034,19.0,14,경상북도,365,460744,3,경상북도,152
4,4,광주광역시,12371,5677,184,6509,1,4,광주광역시,501,0.5,4,광주광역시,36,20797,4,광주광역시,13
5,2,대구광역시,5642,3040,202,2392,8,2,대구광역시,883,0.9,2,대구광역시,29,29058,5,대구광역시,21
6,5,대전광역시,20894,15811,213,4868,2,5,대전광역시,540,0.5,5,대전광역시,30,21157,6,대전광역시,6
7,1,부산광역시,6803,5381,187,1168,67,1,부산광역시,770,0.8,1,부산광역시,50,27190,7,부산광역시,36
8,0,서울특별시,7557,5173,214,2121,49,0,서울특별시,605,0.6,0,서울특별시,43,25231,8,서울특별시,4
9,7,세종특별자치시,21647,11188,165,10291,3,7,세종특별자치시,465,0.5,7,세종특별자치시,44,22805,9,세종특별자치시,18
10,6,울산광역시,5950,3810,170,1962,8,6,울산광역시,1062,1.1,6,울산광역시,102,49339,10,울산광역시,29
11,3,인천광역시,18623,8335,87,10144,57,3,인천광역시,1065,1.1,3,인천광역시,32,13516,11,인천광역시,16
12,13,전라남도,256462,119937,962,135370,193,13,전라남도,12348,12.3,13,전라남도,561,326940,12,전라남도,105
13,12,전라북도,235539,85259,717,149354,209,12,전라북도,8070,8.0,12,전라북도,471,323885,13,전라북도,90
14,11,충청남도,293168,144200,1509,146214,1245,11,충청남도,8246,8.2,11,충청남도,499,269774,14,충청남도,165
15,10,충청북도,179141,94612,1763,82603,163,10,충청북도,7407,7.4,10,충청북도,174,227014,15,충청북도,130

In [99]:
result_2=result_2.drop(columns={'index'},axis=1)
result_2.columns

Index(['시도', '지하수_소계', '생활용_지하수', '공업용_지하수', '농업용_지하수', '기타_지하수', '시도',
       '면적 (㎢)', '면적 구성비 (%)', '시도', '하천수 (개)', '하천연장 (km)', '시도', '단지수'],
      dtype='object')

In [ ]:
result_2.head(0)

In [100]:
result_2=result_2.iloc[:,[0,1,2,3,4,5,7,8,10,11,13]]

In [ ]:
result_2.head(0)

In [ ]:
### 시도 데이터
# df_5_,df_6_1~df_12_1 ,result_2

### 시군구 파일
# df_5,df_6_~df_12_

In [156]:
df_5_.to_csv('시도_df_5_.csv',encoding='cp949')
df_6_1.to_csv('시도_df_6_1.csv',encoding='cp949')
df_7_1.to_csv('시도_df_7_1.csv',encoding='cp949')
df_8_1.to_csv('시도_df_8_1.csv',encoding='cp949')
df_9_1.to_csv('시도_df_9_1.csv',encoding='cp949')
df_10_1.to_csv('시도_ddf_10_1.csv',encoding='cp949')
df_11_1.to_csv('시도_df_11_1.csv',encoding='cp949')
df_12_1.to_csv('시도_df_12_1.csv',encoding='cp949')
result_2.to_csv('시도_result_2.csv',encoding='cp949')


df_5.to_csv('시군구_df_5.csv',encoding='cp949')
df_6_.to_csv('시군구_df_6_.csv',encoding='cp949')
df_7_.to_csv('시군구_df_7_.csv',encoding='cp949')
df_8_.to_csv('시군구_df_8_.csv',encoding='cp949')
df_9_.to_csv('시군구_df_9_.csv',encoding='cp949')
df_10_.to_csv('시군구_df_10_.csv',encoding='cp949')
df_11_.to_csv('시군구_df_11_.csv',encoding='cp949')
df_12_.to_csv('시군구_df_12_.csv',encoding='cp949')

In [157]:
result6_1= pd.merge(df_5_,df_6_1,how='outer',on='시도')
result7_1= pd.merge(df_5_,df_7_1,how='outer',on='시도')
result8_1= pd.merge(df_5_,df_8_1,how='outer',on='시도')
result9_1= pd.merge(df_5_,df_9_1,how='outer',on='시도')
result10_1= pd.merge(df_5_,df_10_1,how='outer',on='시도')
result11_1= pd.merge(df_5_,df_11_1,how='outer',on='시도')
result12_1= pd.merge(df_5_,df_12_1,how='outer',on='시도')
result2_1= pd.merge(df_5_,result_2,how='outer',on='시도')

result6_= pd.merge(df_5,df_6_,how='outer',on='시도')
result7_= pd.merge(df_5,df_7_,how='outer',on='시도')
result8_= pd.merge(df_5,df_8_,how='outer',on='시도')
result9_= pd.merge(df_5,df_9_,how='outer',on='시도')
result10_= pd.merge(df_5,df_10_,how='outer',on='시도')
result11_= pd.merge(df_5,df_11_,how='outer',on='시도')
result12_= pd.merge(df_5,df_12_,how='outer',on='시도')